<template lang="pug">
q-page.row.column.quan-products-page.container
  SearchAndFilterButton(
    :isButtonActive="isFilterOpened"
    @filterButtonClicked="filterToggle"
  )

  AppFilterSecond(info="8,221 items on sale")

  .quan-products-page__wrap(:class="{'quan-products-page__wrap--hidden-filter': !isFilterOpened}")
    AppFilter.quan-products-page__filter
    q-infinite-scroll(
      @load="onProductsLoad"
      :offset="250"
    )
      AppProducts(
        :products="products"
      ).quan-products-page__products
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import SearchAndFilterButton from 'components/SearchAndFilterButton.vue';
import AppFilterSecond from 'components/FilterSecond.vue';
import AppFilter from 'components/Filter.vue';
import AppProducts from 'components/Products.vue'
import { faker } from '@faker-js/faker';
import type { Ref } from 'vue'

class Product {
  id: string
  code: string
  name: string
  price: number

  constructor(id: string, name: string, code: string, price: number) {
    this.id = id
    this.code = code
    this.name = name
    this.price = price
  }
}

function createRandomProduct(): Product {
  return {
    id: faker.datatype.uuid(),
    code: faker.name.firstName(),
    name: `${faker.name.firstName()}  #${faker.datatype.number()}`,
    price: faker.datatype.float()
  }
}

const randomProducts : Product[] = [];
for (let i = 0; i < 12; i ++) {
  randomProducts.push(createRandomProduct())
}

function useFilterOpening() {
  const isFilterOpened = ref(true);
  
  function filterToggle() {  
    isFilterOpened.value = !isFilterOpened.value

    return isFilterOpened.value;
  }

  return { isFilterOpened, filterToggle };
}

export default defineComponent({
  name: 'IndexPage',
  components: {
    SearchAndFilterButton,
    AppFilterSecond,
    AppFilter,
    AppProducts
  },
  setup () {
    const products : Ref<Product[]> = ref(randomProducts)

    return {
      ...useFilterOpening(),
      products,
      onProductsLoad(_, done) {
        setTimeout(() => {
          for (let i = 0; i < 12; i ++) {
            products.value.push(createRandomProduct())
          }
          done()
        }, 100)
      }
    };
  }
});
</script>

<style lang="scss" scoped>
.quan-products-page {
  padding-top: 48px;
  padding-bottom: 48px;

  &__wrap {
    display: flex;
    margin-top: 38px;
  }

  &__wrap--hidden-filter &__filter {
    max-width: 0;
    padding: 0;
    border-color: transparent;
  }

  &__wrap--hidden-filter &__products {
    margin-left: 0;
    flex: 0 0 calc(100% + 40px);
    max-width: calc(100% + 40px);
  }

  &__filter {
    flex: 0 0 380px;
    max-width: 380px;
    overflow: hidden;
    transition: 0.3s;
    align-self: start;
  }

  &__products {
    margin-left: 40px;
    transition: 0.3s;
  }
}
</style>