<template lang="pug">
.quan-filter-second
  .quan-filter-second__info {{ info }}
  .quan-filter-second__items
    q-select(
      rounded
      standout
      v-model="item.value"
      :options="item.options"
      :label="item.name"
      v-for="item in filters"
      :style="{width: `${item.width}px`}"
    )
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

const list = [
  {
    name: 'Status',
    value: '',
    options: ['On Sale','Auction','Sold',],
    width: 180
  },
  {
    name: 'Type',
    value: '',
    options: ['Art','Game Assets','Avatars',],
    width: 180
  },
  {
    name: 'Game',
    value: '',
    options: ['VCP','Race','Bones',],
    width: 170
  },
  {
    name: 'Collection',
    value: '',
    options: ['Athena Collection','Ragnar Collection','Cookie Collection',],
    width: 210
  },
  {
    name: 'Recently Listed',
    value: '',
    options: ['Recently Listed','Recently Sold','Highest Price','Lowest Price'],
    width: 240
  }
]

export default defineComponent({
  name: 'ProductsFilterSecond',

  props: {
    info: String
  },

  setup () {
    const filters = ref(list);

    return {
      filters,
    }
  }
});
</script>

<style lang="scss" scoped>
.quan-filter-second {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__items {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;

    .q-field {
      flex: 0 0 auto;
      margin-left: 24px;

      &:deep(.q-field__control) {
        padding-right: 28px;
        padding-left: 28px;
        border-radius: 24px;
      }

      &:deep(.q-field__label) {
        font-size: 20px;
        font-weight: 600;

      }

      &:deep(.q-field__native) {
        color: #000;
      }

      &:deep(.q-icon) {
        color: transparent;
        background: url(assets/icon-arrow_down.svg) center no-repeat;
      }

      &:not(&--highlighted) {
        &:deep(.q-field__label) {
          color: #0B0B0C;
        }
      }

      &--highlighted {
        &:deep(.q-field__control) {
          background: #e4e5e7;
          box-shadow: none;
        }
      }
    }
  }

  &__info {
    font-size: 20px;
    font-weight: 600;
    color: #b5bcc9;
  }
}
</style>