<template lang="pug">
.quan-products(v-if="products")
  .quan-products__item(
    v-for="product in products"
  )
    .quan-products__image
      img(src="http://placekitten.com/g/348/309").quan-products__img
      .quan-products__image-video-label MOV
      .quan-products__image-dropdown
        .quan-products__image-dropdown-label
        .quan-products__image-dropdown-block
          .quan-products__image-dropdown-item(
            v-for="(item, index) in 20"
            :key="index"
          )
            img(src="http://placekitten.com/g/32/32").quan-products__image-dropdown-img
    .quan-products__code
      img(src="http://placekitten.com/g/32/32")
      | {{ product.code }}
    .quan-products__name {{ product.name }}
    .quan-products__bottom
      .quan-products__price
        .quan-products__price-title Price
        .quan-products__price-body {{ product.price }} SOL
      q-btn(
        label="Buy now"
      ).quan-products__btn.quan-btn
      q-btn(flat).quan-products__favorite
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'AppProducts',

  props: {
    products: {
      type: Object,
      required: true
    }
  },

  setup () {
    return {
      
    }
  }
});
</script>

<style lang="scss" scoped>
.quan-products {
  display: flex;
  margin-right: -40px;
  flex-wrap: wrap;
  max-width: 100%;

  &__item {
    margin: 0 40px 40px 0;
    flex: 0 0 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    border-radius: 20px;
    border: 1px solid #C3C6CC;
    padding: 16px;

    .quan-products-page__wrap--hidden-filter & {
      flex: 0 0 calc(25% - 40px);
      max-width: calc(25% - 40px);
    }
  }

  &__image {
    margin-bottom: 20px;
    position: relative;
    font-size: 0;

    &-video-label {
      position: absolute;
      right: 12px;
      bottom: 12px;
      border-radius: 12px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      padding: 12px 18px;
      background: #fff;
    }

    &-dropdown {
      position: absolute;
      left: 12px;
      top: 12px;

      &:hover &-block {
        opacity: 1;
        visibility: visible;
      }

      &-label {
        border-radius: 12px;
        width: 54px;
        height: 54px;
        background: #fff url('assets/icon-play.svg') 50% 50% no-repeat;
        cursor: pointer;
        position: relative;

        &:before {
          position: absolute;
          left: 0;
          right: 0;
          top: 100%;
          border-top: 9px solid transparent;
          content: '';
        }
      }

      &-block {
        position: absolute;
        top: 100%;
        margin-top: 9px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        width: 256px;
        padding: 16px 16px 0 0;
        display: flex;
        flex-wrap: wrap;
        border-radius: 12px;
      }

      &-item {
        margin: 0 0 16px 16px;
        font-size: 0;
      }

      &-img {
        border-radius: 6px;
      }
    }
  }

  &__img {
    border-radius: 16px;
    max-width: 100%;
  }

  &__code {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #969AA0;

    img {
      border-radius: 6px;
      margin-right: 12px;
    }
  }

  &__name {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 18px;
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__price {
    margin-right: auto;
    font-size: 20px;
    line-height: 1.5;

    &-title {
      color: #969AA0;
      font-weight: 600;
      margin-bottom: 4px;
    }

    &-body {
      color: #0B0B0C;
      font-weight: 700;
    }
  }

  &__btn {
    font-size: 16px;
    padding: 6px 10px;
    width: 128px;
    height: 50px;
    border-radius: 16px;
  }

  &__favorite {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background: url('assets/icon-favorite.svg') 50% 50% no-repeat;
  }
}
</style>