<template lang="pug">
.quan-search-filter
  q-btn(
    icon="filter_alt"
    label="FILTERS"
    @click="onButtonClicked"
    :class="{'quan-search-filter__btn--active': isButtonActive}"
  ).quan-search-filter__btn.quan-btn

  q-input(
      rounded
      standout
      v-model="searchInput"
      label="Search Web3"
    ).quan-search-filter__search
      template(v-slot:prepend)
        q-icon(name="search")
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'ProductsFilter',

  emits: [
    'filterButtonClicked'
  ],

  props: {
    isButtonActive: Boolean
  },

  methods: {
    onButtonClicked() {
      this.$emit('filterButtonClicked');
    }
  },

  setup () {
    const searchInput = ref('');

    return {
      searchInput
    }
  }
});
</script>

<style lang="scss" scoped>
.quan-search-filter {
  display: flex;
  margin-bottom: 32px;

  &__btn {
    width: 380px;
    margin-right: 40px;
    font-size: 20px;
    height: 68px;

    &:deep(.q-icon) {
      color: transparent;
      background: url(assets/icon-filter.svg) center no-repeat;
    }

    &--active {
      color: #0B0B0C;
      border: 1px solid #969AA0;
      background: none;

      &:deep(.q-icon) {
        background-image: url(assets/icon-filter-black.svg);
      }

      &:hover {
        background: #f1f2f4;
      }
    }
  }

  &__search {
    flex: 1 0 auto;

    &:deep(.q-field__control) {
      min-height: 100%;
      align-items: stretch;
      justify-content: stretch;
      padding-left: 20px;
      border-radius: 24px;
      
      .q-field--highlighted & {
        background: #F1F2F4;
      }
    }
    
    &:deep(.q-field__native) {
      padding-top: 20px;
    }

    &:deep(.q-field__label) {
      top: 26px;
      color: #B5BCC9;
      font-size: 20px;
      font-weight: 600;
    }

    &:deep(.q-field__marginal) {
      height: 70px;
    }

    &:deep(.q-icon) {
      color: transparent;
      background: url(assets/icon-search.svg) center no-repeat;
    }
  }
}
</style>