<template lang="pug">
q-header(elevated).bg-transparent.quan-header
  q-toolbar.quan-header__toolbar.container    
    q-btn(
      flat
      to="/"
    ).quan-header__logo
      img(src="/images/logo.svg", alt="QUANTELICA")

    .quan-header__search-wrap(
      :class="{'quan-header__search-wrap--opened': searchBlockOpen}"
    )
      q-input(
        rounded
        standout
        v-model="searchInput"
        label="Search Web3"
      ).quan-header__search
        template(v-slot:prepend)
          q-icon(name="search")

    q-btn-dropdown(
      color="transparent"
      size="lg"
      unelevated
      text-color="dark"
      label="Explore"
      rounded
    ).quan-header__dropdown
      q-list
        q-item(clickable, v-close-popup, :to="item.link", v-for="item in essentialLinks", :key="item.title")
          q-item-section
            q-item-label {{ item.title }}
    
    q-btn(
      size="lg"
      label="Connect wallet"
      to="/"
    ).quan-header__connect.quan-btn.q-ml-auto

    q-btn(
      flat
      dense
      round
      aria-label="Search"
      color="dark"
      @click="toggleSearchBlock"
    ).quan-header__search-icon

    q-btn(
      flat
      dense
      round
      :icon="mobileMenuOpen ? 'close' : 'menu'"
      aria-label="Menu"
      color="dark"
      @click="toggleMobileMenu"
    ).quan-header__burger

  div(v-show="mobileMenuOpen").quan-header__mobile-search
    q-list
      q-item-label(header) Essential Links
      EssentialLink(v-for="link in essentialLinks", :key="link.title", v-bind="link")
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import EssentialLink from 'components/EssentialLink.vue';

const linksList = [
  {
    title: 'Catalog',
    link: '/'
  },
  {
    title: 'NFT collection',
    link: '/'
  },
  {
    title: 'Trending',
    link: '/'
  },
  {
    title: 'Events',
    link: '/'
  },
  {
    title: 'FAQ',
    link: '/'
  }
];

export default defineComponent({
  name: 'SiteHeader',

  components: {
    EssentialLink
  },

  setup () {
    const mobileMenuOpen = ref(false)
    const searchBlockOpen = ref(false)
    const searchInput = ref();

    return {
      essentialLinks: linksList,
      mobileMenuOpen,
      searchBlockOpen,
      searchInput,
      toggleMobileMenu () {
        mobileMenuOpen.value = !mobileMenuOpen.value
      },
      toggleSearchBlock () {
        searchBlockOpen.value = !searchBlockOpen.value
      }
    }
  }
});
</script>

<style lang="scss" scoped>
.quan-header {
  padding: 0 16px;

  @media (min-width: 640px) {
    padding: 0 32px;
  }

  @media (min-width: 1024px) {
    padding: 0 40px;
  }

  &__toolbar {
    min-height: 60px;
    background: rgba(255, 255, 255, .8);
    padding: 0;

    @media (min-width: 1024px) {
      min-height: 128px;
    }
  }

  &__logo {
    padding: 0;
    margin-right: auto;
    width: 134px;

    @media (min-width: 640px) {
      width: 192px;
    }

    @media (min-width: 1024px) {
      margin-right: 71px;
      width: auto;
    }

    img {
      max-width: 100%;
    }
  }

  &__search {    
    &-wrap {
      position: absolute;
      left: -16px;
      right: -16px;
      top: 100%;
      opacity: 0;
      visibility: hidden;
      background: #fff;
      padding: 16px;

      @media (min-width: 640px) {
        left: -32px;
        right: -32px;
        padding: 32px;
      }

      @media (min-width: 1024px) {
        padding: 0;
        opacity: 1;
        visibility: visible;
        position: static;
        width: 536px;
        margin-right: 24px;
        background: none;
      }

      &--opened {
        opacity: 1;
        visibility: visible
      }
    }

    &:deep(.q-field__control) {
      padding-left: 20px;
      border-radius: 24px;
    }

    &:deep(.q-icon) {
      color: transparent;
      background: url(assets/icon-search.svg) center no-repeat;
    }

    &:deep(.q-field__label) {
      color: #B5BCC9;
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__dropdown {
    font-weight: 600;
    border-radius: 20px;
    padding-left: 24px;
    margin-right: 10px;
    display: none;

    @media (min-width: 1024px) {
      display: inline-flex;
    }

    &:deep(.q-icon) {
      color: transparent;
      background: url(assets/icon-arrow_down.svg) center no-repeat;
    }

    &:hover, &[aria-expanded="true"] {
      &:deep(.q-focus-helper) {
        background: #F1F2F4;
        opacity: 1;
      }
    }
  }

  &__connect {
    font-size: 20px;
    line-height: 1;
    padding: 25px 32px;
    display: none;

    @media (min-width: 1024px) {
      display: inline-flex;
    }
  }

  &__burger {
    margin-left: 4px;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__search-icon {
    background: url(assets/icon-search.svg) center no-repeat;
    filter: brightness(0);

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__mobile-menu {

    @media (min-width: 1024px) {
      display: none;
    }
  }
}
</style>