<template lang="pug">
q-footer.quan-footer.bg-transparent
  .quan-footer__wrap.container
    .quan-footer__copyright.q-mr-auto {{ copyright }}
    q-btn(
      flat
      :to="item.link"
      v-for="item in links"
      size="lg"
      :key="item.title"
      :label="item.title"
    ).quan-footer__btn
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

const links = [
  {
    title: 'Privacy Policy',
    link: '/'
  },
  {
    title: 'Terms of Service',
    link: '/'
  }
];

export default defineComponent({
  name: 'SiteHeader',

  setup () {
    const copyright = ref('© QUANTELICA, 2022. All right reserved');

    return {
      links,
      copyright
    }
  }
});
</script>

<style lang="scss" scoped>
.quan-footer {
  color: #B5BCC9;

  &__wrap {
    display: flex;
    align-items: center;
    border-top: 1px solid #B5BCC9;
    min-height: 110px;
  }

  &__copyright {
    margin-right: auto;
    font-size: 20px;
    font-weight: 600;
  }

  &__btn {
    font-weight: 600;
    margin: 0 20px;
  }
}
</style>