// app global css in SCSS form
@import './fonts.scss';

* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1440px;

.container {
  max-width: 1640px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: 'proxima-nova', sans-serif;
}

.quan-btn {
  background: linear-gradient(151.19deg, #4C7CE7 15.36%, #7038E6 96.54%);
  color: #fff;
  border-radius: 24px;
  transition: none;
  font-weight: 700;

  &:before, .q-focus-helper {
    display: none;
  }

  &:hover {
    background: linear-gradient(151.19deg, #3A6BD5 15.36%, #5021B3 96.54%);
  }
}

.q-btn {
  text-transform: none;
}

.q-menu {
  box-shadow: 0px 4px 16px 0px #5858581F;
  border: 1px solid #C3C6CC;
  border-radius: 24px;
  padding: 12px;

  .q-item {
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #0B0B0C;
    padding: 20px 16px;
  }
}

.q-field--standout {
  .q-field__control {
    background: #f1f2f4;
    box-shadow: none;
  }

  .q-field__control-container {
    padding-top: 0 !important;
  }

  &:hover {
    .q-field__control {
      box-shadow: 0 0 0 1px #C3C6CC;

      &:before {
        display: none;
      }
    }
  }

  &.q-field--highlighted, &.q-field--focused, &.q-field--float {
    .q-field__control {
      background: #f1f2f4;
    }
    
    .q-field__native {
      color: #0B0B0C;
      padding-top: 10px;
      font-size: 20px;
      font-weight: 600;
    }
    
    .q-field__label {
      opacity: 0;
      visibility: hidden;
    }
  }
}



.q-checkbox {
  .q-checkbox__inner {
    width: 36px;
    min-width: 36px;
    height: 36px;
  }

  .q-checkbox__label {
    font-size: 18px;
    font-weight: 600;
    color: #0b0b0c;
  }

  .q-checkbox__bg {
    top: 17%;
    left: 20%;
    width: 60%;
    height: 60%;
    border-radius: 4px;
  }

  .q-checkbox__inner--truthy, .q-checkbox__inner--indet {
    color: #0B0B0C;
  }
}