<template lang="pug">
q-layout(view="lHh Lpr lff")
  SiteHeader
  
  q-page-container
    router-view
  
  SiteFooter
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import SiteHeader from 'src/components/SiteHeader.vue'
import SiteFooter from 'src/components/SiteFooter.vue'

export default defineComponent({
  name: 'MainLayout',

  components: {
    SiteHeader,
    SiteFooter
  },
});
</script>